# Application
APP_PORT=modified

# Database
DATABASE_NAME=modified
DATABASE_USER=modified
DATABASE_PASSWORD=modified
DATABASE_PORT=modified

# User data
USER_EMAIL=user_demo@example.com
USER_USERNAME=user_demo
USER_PASSWORD=1p@ssw0rd